.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3AAFA9;
}

.heading {
    margin: 0;
    font-size: 20px;
    padding-left: 20px;
}

@media only screen and (min-width: 768px) {
    .heading {
        font-size: 25px;
    }

    .header {
        height: 90px;
    }
}

@media only screen and (min-width: 1024px) {
    .heading {
        font-size: 30px;
    }
    .header {
        height: 70px;
    }
}