.button {
    padding: 2px 5px;

    background-color: #2b7a78;
    border: 1px solid #2b7a78;
    border-radius: 10px;

    color: #fff;
    font-size: 15px;

    cursor: pointer;
}

@media only screen and (min-width: 678px) {
    .button {
        padding: 5px 10px; 
        font-size: 20px;
    }
}