.section {
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-task {
    width: 100%;
    background-color: #def2f1;
    margin-left: 5px;
    padding: 0;
    height: 40px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

@media only screen and (min-width: 500px) {
    .add-task {
        width: 40%;
    }
}