.window {
    width: 100%;
}


.form {
    margin: 20px 30px;
}

.wrapper {
    height: 450px;
    overflow-y: scroll;
}

.wrapper::-webkit-scrollbar {
    width: 5px;
}

.wrapper::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #2B7A78;
}

.form-start {
    display: block;
}

.textarea {
    width: 300px;
    height: 150px;
}

.label {
    font-size: 20px;
}

.date-time {
    display: block;
}

.date-input {
    width: 300px;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    width: 160px;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 130px;
    padding-bottom: 20px;
}

@media only screen and (min-width: 500px) {
    .window {
        width: 600px;
    }
    
    
    .form {
        margin: 20px 40px;
    }
    
    .wrapper {
        width: 520px;
        height: 340px;
        overflow-y: scroll;
    }
    
    .form-start {
        display: flex;
        width: 510px;
        justify-content: space-between;
    }
    
    .textarea {
        width: 510px;
        height: 150px;
    }
    
    .label {
        font-size: 20px;
    }
    
    .date-time {
        display: flex;
        width: 510px;
        justify-content: space-between;
    }
    
    .date-input {
        width: 250px;
    }
    
    .actions {
        display: flex;
        width: 160px;
        justify-content: space-between;
        margin-top: 20px;
        margin-left: 310px;
        padding-bottom: 20px;
    }
}
