# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
to-do-list/node_modules
to-do-list/.pnp
to-do-list.pnp.js

# testing
to-do-list/coverage

# production
to-do-list/build

# misc
to-do-list/.DS_Store
to-do-list/.env.local
to-do-list/.env.development.local
to-do-list/.env.test.local
to-do-list/.env.production.local

to-do-list/npm-debug.log*
to-do-list/yarn-debug.log*
to-do-list/yarn-error.log*

to-do-list-server/node_modules
