.task-list {
    width: 99%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.scrollable {
    height: 435px;
    overflow-y: scroll;
}

.task-list::-webkit-scrollbar {
    width: 5px;
}
  
.task-list::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #2B7A78;
}