.window {
  width: 100%
}

.addTagToTask {
  padding: 20px;
  width: 90%
}

.tagsToEnter {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.tagTaskForm {
  display: flex;
  padding-bottom: 10px;
}

.tagInput {
  width: 70%;
  margin-right: 10px;
}

@media only screen and (min-width: 678px) {
  .window {
    width: 70%;
  }
  .tagInput {
    width: 80%;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .window {
    width: 700px;
  }
  .tagInput {
    width: 90%;
    margin-right: 20px;
  }
}
