.tagTaskForm {
  display: flex;
  padding-bottom: 10px;
}

.addTagToTask {
  width: 100%;
}

.tagsToEnter {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.tagInput {
  width: 70%;
  margin-right: 10px;
}
