.window {
    width: 100vw;
}

.form {
    margin: 20px 30px;
}

.label {
    font-size: 20px;
}

.input {
    width: 320px;
}

.textarea {
    width: 320px;
    height: 100px;
}

.actions {
    display: flex;
    width: 160px;
    justify-content: flex-end;
    margin-top: 20px;
    margin-left: 160px;
    padding-bottom: 20px;
}


@media only screen and (min-width: 400px) {
    .form {
        margin: 20px 50px;
    }
    
    .window {
        width: 400px;
    }
}

@media only screen and (min-width: 768px) {
    .window {
        width: 600px;
    }

    .form {
        margin: 20px 40px;
    }

    .input {
        width: 500px;
    }

    .textarea {
        width: 500px;
        height: 200px;
    }

    .actions {
        margin-left: 340px;
    }
}

@media only screen and (min-width: 1024px) {
    .window {
        width: 450px;
    }

    .form {
        margin: 20px 25px;
    }

    .input {
        width: 400px;
    }

    .textarea {
        width: 400px;
        height: 150px;
    }

    .actions {
        margin-left: 245px;
    }
}
