.window {
    width: 100%;
}


.wrapper {
    margin: 20px 30px;
    height: 450px;
    overflow-y: scroll;
}

.wrapper::-webkit-scrollbar {
    width: 5px;
}

.wrapper::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #2B7A78;
}

.startInfo {
    display: block;
}


.title {
    margin: 5px 0;
    font-size: 20px;
}

.label {
    margin: 0;
    font-size: 20px;
}

.deadline {
    width: 150px;
    margin: 10px 0;
    font-size: 20px;
}

.description {
    margin: 0;
    font-size: 20px;
    overflow-y: scroll;
}

.subDate {
    margin: 5px 0 0 0;
    font-size: 15px;
}

.date-time {
    display: flex;
    justify-content: space-between;
}

.dateInfo {
    margin: 5px 0;
    width: 150px;
    font-size:  20px;
}

.actions {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-bottom: 20px;
}

.tagsToEnter {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

@media only screen and (min-width: 500px) {
    .window {
        width: 600px;
    }
    
    
    .wrapper {
        margin: 20px 40px;
        width: 530px;
    }
    
    .startInfo {
        display: flex;
        width: 520px;
        justify-content: space-between;
    }
    
    
    .title {
        margin: 5px 0;
        font-size:  20px;
    }
    
    .label {
        margin: 0;
        font-size: 20px;
    }
    
    .deadline {
        width: 150px;
        margin: 5px 0;
        font-size:  20px;
    }
    
    .description {
        margin: 10px 0;
        width: 520px;
        font-size: 20px;
    }
    
    .subDate {
        margin: 5px 0 0 0;
        font-size: 15px;
    }
    
    .date-time {
        display: flex;
        width: 520px;
        justify-content: space-between;
    }
    
    .dateInfo {
        margin: 5px 0;
        width: 250px;
        font-size:  20px;
    }
}


@media only screen and (min-width: 766px) {
    .wrapper {
        margin: 20px 40px;
        height: 350px;
    }
}