.window {
    width: 100%;
}

.wrapper {
    padding: 20px;
}

.text {
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}

.actions {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0 auto;
}

@media only screen and (min-width: 768px) {
    .window {
        width: 60%;
    }
}

@media only screen and (min-width: 1024px) {
    .window {
        width: 400px;
    }
}