.tagV2 {
  display: flex;
  align-items: center;
  padding: 7px 20px;
  background-color: #57ba98;
  border-radius: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.tagLabel {
  margin: 0 10px 0 0;
  font-size: 100%;
  color: black;
}

.tagIcon {
  color: black;
}
